$BrightOrange: hsl(31, 77%, 52%);
$DarkCyan: hsl(184, 100%, 22%);
$VeryDarkCyan: hsl(179, 100%, 13%);
$TransparentWhite: hsla(0, 0%, 100%, 0.75);
$VeryLightGray: hsl(0, 0%, 95%);

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: $VeryLightGray;
}

#root {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  position: relative;
  min-height: 100vh;
}

.component-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.section {
  box-sizing: border-box;
  max-width: 347px;
  min-height: 60vh;
  padding: 3rem 4rem;
  &.first {
    background-color: $BrightOrange;
    border-radius: 10px 0 0 10px;
  }
  &.secound {
    background-color: $DarkCyan;
  }
  &.third {
    background-color: $VeryDarkCyan;
    border-radius: 0 10px 10px 0;
  }
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  color: $VeryLightGray;
  font-size: 3rem;
}

p {
  color: $TransparentWhite;
  min-height: 25vh;
  word-spacing: 2px;
  line-height: 2rem;
}

button {
  font-family: "Lexend Deca", sans-serif;
  background-color: $VeryLightGray;
  border: 1px solid $VeryLightGray;
  border-radius: 100px;
  padding: 1rem 2.5rem;
  cursor: pointer;
  &:hover {
    background-color: transparent !important;
    color: hsl(0, 0%, 95%) !important;
  }
  &.first {
    color: $BrightOrange;
  }
  &.secound {
    color: $DarkCyan;
  }
  &.third {
    color: $VeryDarkCyan;
  }
}

@media (max-width: 862px) {
  .component-wrapper {
    flex-direction: column;
    margin-top: 2vh;
  }
  section {
    &.first {
      border-radius: 10px 10px 0 0 !important;
    }
    &.third {
      border-radius: 0 0 10px 10px !important;
    }
  }
  .attribution {
    position: static !important;
  }
}

.attribution {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}
